.deck__navigation{
  background-image: url(../../../images/wood_middle_repeat-b357e74839b5f16173c2f35d36ce22cae24d5b552e2eb1dd1fd7d3091eeccca8eb8ab5c0a2c42e9476357ac2c744e8e22ddc08c5d27be8c670fb9630065a9c01.png);
  border: 3px solid #ffc108;
}
.nav-item__add-button{
  display: inline-block;
  font-size: 25px;
  color: #ffc108;
}